# Dependencies
node_modules/

# Docusaurus
.docusaurus/
build/
.cache-loader/

# Local files
.DS_Store
.env
.env.*
!.env.example

# Editors
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
